// Basse Color ----------------------------------------------------------------
$ColorBass1: #faad17;
//#ff8a67;faad17;
$ColorBass2: #ffff;
$ColorBass3: #000000;
$TransparentColorbass: #00000000;
$MainBGColor:$ColorBass3;
$waveBGColor:$ColorBass2;
$wave2BGColor:$ColorBass3;

// Navigation bar -------------------------------------------------------------

$NavbarBGColor: $TransparentColorbass;
$BrandColor1: $ColorBass2;
$BrandColor2: $ColorBass1;
$NavbuttonBorder: $ColorBass1;
$NavbuttonBG: #fff0;
$NavbuttonColor: $ColorBass2;
$NavbuttonBorderHover:$ColorBass2;
$NavbarbrandBorderColor:$ColorBass1;
$navbarLinksAfterColor:$ColorBass1;
$ATagColor:$ColorBass2;

//-----------------------------------------------------------------------------

// MainView -------------------------------------------------------------------
$MainViewCaptionBG: $TransparentColorbass;
$MainViewCaptionColor: $ColorBass2; 
$BoxColor:$ColorBass1;

//-----------------------------------------------------------------------------

// Servicesview ---------------------------------------------------------------
$ServicesViewCardBGColor:$ColorBass2;
$ServicesViewCardBorderColor:$ColorBass2;
$CardTitleColor:$ColorBass3;
$ServicesViewCardBtnBGColor:$ColorBass1;
$ServicesViewCardBtnColor:$ColorBass3;
$ServicesViewCardBtnBorderColor:$ColorBass1;
//---------------------------------------------
$ServicesViewCardBtnBGColorH:$ColorBass3;
$ServicesViewCardBtnColorH:$ColorBass2;
$ServicesViewCardBtnBorderColorH:$ColorBass2;

//-----------------------------------------------------------------------------

$inputBorderColor:$ColorBass1;
$Drop-down-Btn-BG-Color:$ColorBass1;