@import "../Varibales/Color";
@import "../Varibales/Varibales";
@import "../Varibales/FirstViewElement.scss";


@mixin FotterView {
    .socialMedia
    {
        margin-top: 10px;
        width: 100%;
        height: 100px;
        background-color: $ColorBass3;
        text-align: center;
        position: relative;
        a
        {
            position: relative;
            top: 50%;
            text-decoration: none;
            color: $ColorBass2;
            margin: 15px;

        }
    }
    .CopyRight
    {
        text-align: center;
        height: 50px;
        width: 100%;
        background-color: $ColorBass3;
        p
        {
            position: relative;
            top: 40%;
            color: $ColorBass2;
        }
    }
}
